body{
     font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     
}
.was-validated .form-control:invalid {
  border-color: #dc3545; /* Red border */
  padding-right: 2.25rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}



.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size:2rem;
}

.nav-link{
    color: black !important;
}

.footerinfolinks a{
    text-decoration: none ;
    color: #222222 ;
}

.footerinfolinks a:hover{
    text-decoration: underline ;
}

.footerinfo{
    text-align: center;
    display: flex;
    background-color: rgb(219, 219, 219);
    height: 7rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly ;
}

.footerinfolinks ,.footer_info_social ,.company{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}


.footer_info_social i{
    margin-right: 1rem;
     font-size: 1.2rem;
}


.listing-card {
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}


.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}


.listing_link{
    text-decoration: none !important;
}



.new_btn {
     background-color: #fe424d !important;
     border: none !important; 
}


.show-img{
    height:30vh !important;
}
.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
